parameters:
    templating:
        tempStorage: %wwwDir%/../data/temp #hack for getting to data
        solidStorage: %wwwDir%/../data/solid
    gallery:
        folderName:
        outsidePath:
        localPath:
    database:
        host:
        dbname:
        dsn:
        user:
        password:

database:
	dsn:
	user:
	password: