search:
	factories:
		in: %appDir%
		classes:
			- *Factory
	repositories:
	    in: %appDir%/Model/Database/Repository
	    files:
	        - *Repository.php
	authenticator:
	    in: %appDir%/Model/Security/Auth
	    classes:
	        - *Authenticator

extensions:
	form-multiplier: App\Model\Extensions\FormMultiplier\DI\MultiplierExtension

services:
    router: App\Router\RouterFactory::createRouter
    galleryDataProvider: App\Model\FileSystem\Gallery\GalleryDataProvider(%gallery.basePath%, %gallery.baseUrl%)
