search:
	factories:
		in: %appDir%
		classes:
			- *Factory
	repositories:
	    in: %appDir%/Model/Database/Repository
	    files:
	        - *Repository.php
	authenticator:
	    in: %appDir%/Model/Security/Auth
	    classes:
	        - *Authenticator

extensions:
	form-multiplier: App\Model\Extensions\FormMultiplier\DI\MultiplierExtension
	form-multistep: Contributte\FormWizard\DI\WizardExtension

	palette: App\Model\Extensions\NettePalette\PaletteExtension

palette:
    path: %palette.path%
    url: %palette.url%
    signingKey: "u7mp7lkfxx"
    basepath: %wwwDir%

services:
    - App\Router\RouterFactory
    router:
        type: Nette\Application\IRouter
        create: @App\Router\RouterFactory::createRouter
    ffmpegProvider: App\Model\DI\FFMpegProvider(%ffmpeg.ffmpeg_binaries%, %ffmpeg.ffprobe_binaries%, %ffmpeg.timeout%, %ffmpeg.threads%)
    adminDataProvider: App\Model\FileSystem\Admin\AdminUploadDataProvider(%adminUpload.outsidePath%, %adminUpload.localPath%)
    galleryDataProvider: App\Model\FileSystem\Gallery\GalleryDataProvider(%gallery.outsidePath%, %gallery.localPath%)
    templateUploadDataProvider: App\Model\FileSystem\Templating\TemplateUploadDataProvider(%templating.tempStorage%, %templating.solidStorage%)
