search:
	factories:
		in: %appDir%
		classes:
			- *Factory
			- *Facade
	repositories:
	    in: %appDir%/Model/Database/Repository
	    files:
	        - *Repository.php
	authenticator:
	    in: %appDir%/Model/Security/Auth
	    classes:
	        - *Authenticator

extensions:
	form-multipier: Contributte\FormMultiplier\DI\MultiplierExtension

services:
    router: App\Router\RouterFactory::createRouter